*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
key.jks
key_base64.txt
/app/.project
/app/src/main/assets/xposed_init
/app/src/main/resources/META-INF/yukihookapi_init
