name: Build WaEnhancer

on:
  push:
    branches: [ "master" ]
  workflow_dispatch: # Tambahan: biar bisa diklik manual tombol "Run" nya

jobs:
  build:
    permissions: write-all
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4 # Update ke v4 biar lebih baru
      
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      # Kita build pake default debug key aja (gak perlu secret developernya)
      - name: Build APK
        run: |
          ./gradlew assembleWhatsappDebug assembleBusinessDebug

      - name: Get short SHA
        run: echo "SHORT_SHA=`echo ${GITHUB_SHA} | cut -c1-8`" >> $GITHUB_ENV

      # Upload APK biar bisa didownload di menu 'Actions'
      - name: Upload Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wa-enhancer-builds
          path: app/build/outputs/apk/*/debug/*.apk

      # Upload ke menu 'Releases' biar keren kayak rilis resmi
      - name: Release to GitHub
        uses: softprops/action-gh-release@v1
        if: github.ref == 'refs/heads/master'
        with:
          tag_name: build-${{ env.SHORT_SHA }}
          name: WaEnhancer Build ${{ env.SHORT_SHA }}
          files: |
            app/build/outputs/apk/whatsapp/debug/*.apk
            app/build/outputs/apk/business/debug/*.apk
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # Ini otomatis ada, aman.
